# Dependencias
node_modules/

# Build / producción
dist/
build/

# Vite
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.local
.env.*.local

# Sistema operativo
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Coverage
coverage/

# Archivos temporales
*.tmp
*.temp
